// 顏色
$red: #ff5d50;
$blue: #56c4c5;
$light-blue: #b8e6e7;
$white: #ffffff;
$black: #221e1f;
$gray: #747474;
$middle-gray: #d3d3d3;
$light-gray: #f5f5f5;
$bg-gray: #f7f9fd;
$yellow: #f5ca52;
$light-yellow: #fbe8b1;

// 斷點
$grid-xl: 1200px;
$grid-lg: 992px;
$grid-sm: 576px;
$grid-xxs: 375px;
